body, h1, h2, h3, p, ul{
    padding: 0px;
    margin: 0px;
}

.menu{
    width: 100%;
    height: 20px;
    background: white;
    padding: 20px 0px 50px 50px;
    position: fixed;
}

.logo{
    display: block;
    float: left;
    margin-top: 28px;
}

.menu-nubank{
    max-width: 100%;
    float: left;
}

.menu-nubank li{
    margin-top: 28px;
    display: inline-block;
}

.menu-nubank a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-left: 33px;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
}
 /*font-family: 'Nanum Gothic', sans-seri*/

.login li{
    display: inline-block;
    margin-top: 28px;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-right: 50px;
    margin-top: 10px;
}

.login{
    float: right;
}

.login a{
    text-decoration: none;
    color: #820ad1;

}

/* Inicio da imagem após o topo */

.imagem{
    background: url(../img/img1.png) no-repeat center center;
    background-size: cover;
    height: 680px;
}

.imagem h1{
    padding: 370px 0 0 0;
    margin-left: 220px;
    margin-bottom: 10px;
    font-family: 'Cabin', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.imagem h2{
    margin-left: 220px;
    font-family: 'Cabin', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: lighter;
}
