body, h1, h2, h3, p, ul{
    padding: 0px;
    margin: 0px;
}

.menu{
    width: 100%;
    height: 20px;
    background: white;
    padding: 20px 0px 50px 50px;
    position: fixed;
}

.logo{
    display: block;
    float: left;
    margin-top: 19px;
}

.menu-nubank{
    max-width: 100%;
    float: left;
}

.menu-nubank li{
    margin-top: 28px;
    display: inline-block;
}

.menu-nubank a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 22px;
    margin-left: 33px;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
}

.login li{
    display: inline-block;
    margin-top: 28px;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-right: 80px;
    margin-top: 10px;
}

.login{
    float: right;
}

.login a{
    text-decoration: none;
    color: #820ad1;

}

/* Inicio da imagem após o topo */

.imagem{
    background: url(../img/img1.png) no-repeat center center;
    background-size: cover;
    height: 680px;
}

.imagem h1{
    padding: 370px 0 0 0;
    margin-left: 220px;
    margin-bottom: 10px;
    font-family: 'Cabin', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.imagem h2{
    margin-left: 220px;
    font-family: 'Cabin', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: lighter;
}

.form{
    box-sizing: border-box;
    background: white;
    max-width: 330px;
    height: 300px;
    float: right;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    margin-top: -150px;
    margin-right: 40px;
}

.form h3{
    color: black;
    font-size: 22px;
    margin-bottom: 100px;
}

.name{
    color: #585858;
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
}

.bto{
    background: #820ad1;
    display: flex;
    justify-content: space-between;
    border: 0px;
    align-items: center;
    color: white;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    margin-top: 10px;
    padding: 20px;
}

.campo{
    width: 100%;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

/* Fim da imagem após o topo */

/*Início da Seção 2 */

.secao2{
    height: 800px;
    background: white;
}

.secao2 h2{
    text-align: left;
    font-family: 'Cabin', sans-serif;
    font-size: 48px;
    color: #820ad1;
    margin-left: 400px;
    margin-top: 270px;
}

.secao2 h2 a{
    text-decoration: none;
}

.secao2 h3{
    text-align: left;
    font-family: 'Cabin', sans-serif;
    font-size: 38px;
    font-weight: lighter;
    color: black;
    margin-left: 400px;
    margin-bottom: 23px;
}

.cartao{
    float: left;
    width: 55%;
}

.link2{
    margin-left: 400px;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
}

.img-cartao{
    float: left;
    width: 45%;
    margin-top: 200px;
}

/*Fim da Seção 2 */

/*Inicio da Seção 3 */

.secao3{
    height: 800px;
    background: #f5f5f5;
}

.secao3 h2{
    text-align: left;
    font-family: 'Cabin', sans-serif;
    font-size: 48px;
    color: #820ad1;
    margin-left: 220px;
    margin-top: 270px;
}

.secao3 h2 a{
    text-decoration: none;
}

.secao3 h3{
    text-align: left;
    font-family: 'Cabin', sans-serif;
    font-size: 38px;
    font-weight: lighter;
    color: black;
    margin-left: 220px;
    margin-bottom: 23px;
}

.cartao-ultra{
    float: left;
    width: 55%;
}

.link3{
    margin-left: 220px;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
}

.cartao3{
    float: left;
    width: 45%;
    margin-top: 150px;
}
/*Fim da Seção 3 */

/*Inicio da Seção 4 */


.secao4{
    height: 800px;
    background: #f5f5f5;
}

.secao4 h2{
    text-align: left;
    font-family: 'Cabin', sans-serif;
    font-size: 48px;
    color: #820ad1;
    margin-left: 400px;
    margin-top: 270px;
}

.secao4 h2 a{
    text-decoration: none;
}

.secao4 h3{
    text-align: left;
    font-family: 'Cabin', sans-serif;
    font-size: 38px;
    font-weight: lighter;
    color: black;
    margin-left: 400px;
    margin-bottom: 23px;
}

.nu-cartao{
    float: left;
    width: 55%;
}

.link4{
    margin-left: 400px;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
}

.cartao4{
    float: left;
    width: 45%;
    margin-top: 200px;
}

/*Fim da Seção 4 */

/*Inicio da Seção 5,6,7 */

.secao5{
    background: url('../img/img5.png') no-repeat center center;
    background-size: cover;
    height: 800px;
}

.secao5 h2{
    padding: 337px 0 0 0;
    margin-left: 400px;
    margin-bottom: 20px;
    font-size: 40px;
    color: white;
    font-family: 'Cabin', sans-serif;
}

.link5{
    margin-left: 400px;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    color: white;
}


.secao6{
    background: url('../img/img6.png') no-repeat center center;
    background-size: cover;
    height: 800px;
}

.secao6 h2{
    padding: 337px 0 0 0;
    margin-left: 400px;
    margin-bottom: 20px;
    font-size: 40px;
    color: white;
    font-family: 'Cabin', sans-serif;
}

.link6{
    margin-left: 400px;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    color: white;
}


.secao7{
    background: url('../img/img7.png') no-repeat center center;
    background-size: cover;
    height: 800px;
}

.secao7 h2{
    padding: 337px 0 0 0;
    margin-left: 400px;
    margin-bottom: 20px;
    font-size: 40px;
    color: white;
    font-family: 'Cabin', sans-serif;
}

.link7{
    margin-left: 400px;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    color: white;
}

/*Fim da Seção 5,6,7 */

/* Rodape 1 */
.rodape1{
    width: 100%;
    height: 400px;
    background-color: #111111;
}

.rodape2{
    width: 100%;
    height: 400px;
    background-color: #111111;
}

.sec-1 {
    width: 23%;
    float: left;
}

.sec-2{
    width: 23%;
    float: left;
}

.sec-3{
    width: 23%;
    float: left;
}

.sec-4{
    width: 23%;
    float: left;
}

.sec-1, .sec-2, .sec-3, .sec-4{
    margin-top: 60px;
}

.sec-1 a, .sec-2 a, .sec-3 a, .sec-4 a{
    text-decoration: none;
    color: white;
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    font-weight: lighter;
}

.sec-1 li, .sec-2 li, .sec-3 li, .sec-4 li{
    padding-left: 8%;
    list-style: none;
    margin-bottom: 15px;
    color: white;
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
}

.sec-1 h2, .sec-2 h2, .sec-3 h2, .sec-4 h2{
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-left: 8%;
    color: white;
    margin-bottom: 25px;
}

.sec-1 li a:hover{
    color: #820ad1;
}

.sec-2 li a:hover{
    color: #820ad1;
}

.sec-3 li a:hover{
    color: #820ad1;
}

.sec-4 li a:hover{
    color: #820ad1;
}

/* Fim rodape 1 */

/* rodape 3 */

.rodape3{
    margin-bottom: 60px;
    width: 100%;
    height: 210px;
    background-color: #111111;
    border-top: solid 1px #191919;
    border-bottom: solid 1px #191919;
}

.imgrodape{
    padding: 30px;
    float: left;
}

.rodape3 p{
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    color: white;
    padding: 30px;
}
