body, h1, h2, h3, p, ul{
    padding: 0px;
    margin: 0px;
}

.menu{
    width: 100%;
    height: 20px;
    background: white;
    padding: 20px 0px 50px 50px;
    position: fixed;
}

.logo{
    display: block;
    float: left;
    margin-top: 19px;
}

.menu-nubank{
    max-width: 100%;
    float: left;
}

.menu-nubank li{
    margin-top: 28px;
    display: inline-block;
}

.menu-nubank a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 22px;
    margin-left: 33px;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
}

.login li{
    display: inline-block;
    margin-top: 28px;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-right: 80px;
    margin-top: 10px;
}

.login{
    float: right;
}

.login a{
    text-decoration: none;
    color: #820ad1;

}

/* Inicio da imagem após o topo */

.imagem{
    background: url(../img/img1.png) no-repeat center center;
    background-size: cover;
    height: 680px;
}

.imagem h1{
    padding: 370px 0 0 0;
    margin-left: 220px;
    margin-bottom: 10px;
    font-family: 'Cabin', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.imagem h2{
    margin-left: 220px;
    font-family: 'Cabin', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: lighter;
}

.form{
    box-sizing: border-box;
    background: white;
    max-width: 330px;
    height: 300px;
    float: right;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    margin-top: -150px;
    margin-right: 40px;
}

.form h3{
    color: black;
    font-size: 22px;
    margin-bottom: 100px;
}

.name{
    color: #585858;
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
}

.bto{
    background: #820ad1;
    display: flex;
    justify-content: space-between;
    border: 0px;
    align-items: center;
    color: white;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    margin-top: 10px;
    padding: 20px;
}

.campo{
    width: 100%;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

/* Fim da imagem após o topo */

/*Início da Seção 2 */

.secao2{
    height: 800px;
    background: white;
}

.secao2 h2{
    text-align: left;
    font-family: 'Cabin', sans-serif;
    font-size: 48px;
    color: #820ad1;
    margin-left: 400px;
    margin-top: 270px;
}

.secao2 h2 a{
    text-decoration: none;
}

.secao2 h3{
    text-align: left;
    font-family: 'Cabin', sans-serif;
    font-size: 38px;
    font-weight: lighter;
    color: black;
    margin-left: 400px;
    margin-bottom: 23px;
}

.cartao{
    float: left;
    width: 55%;
}

.link2{
    margin-left: 400px;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
}

.img-cartao{
    float: left;
    width: 45%;
    margin-top: 200px;
}

/*Fim da Seção 2 */

/*Inicio da Seção 3 */

.secao3{
    height: 800px;
    background: #f5f5f5;
}

.secao3 h2{
    text-align: left;
    font-family: 'Cabin', sans-serif;
    font-size: 48px;
    color: #820ad1;
    margin-left: 220px;
    margin-top: 270px;
}

.secao3 h2 a{
    text-decoration: none;
}

.secao3 h3{
    text-align: left;
    font-family: 'Cabin', sans-serif;
    font-size: 38px;
    font-weight: lighter;
    color: black;
    margin-left: 220px;
    margin-bottom: 23px;
}

.cartao-ultra{
    float: left;
    width: 55%;
}

.link3{
    margin-left: 220px;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
}

.cartao3{
    float: left;
    width: 45%;
    margin-top: 150px;
}
/*Fim da Seção 3 */

/*Inicio da Seção 4 */


.secao4{
    height: 800px;
    background: #f5f5f5;
}

.secao4 h2{
    text-align: left;
    font-family: 'Cabin', sans-serif;
    font-size: 48px;
    color: #820ad1;
    margin-left: 400px;
    margin-top: 270px;
}

.secao4 h2 a{
    text-decoration: none;
}

.secao4 h3{
    text-align: left;
    font-family: 'Cabin', sans-serif;
    font-size: 38px;
    font-weight: lighter;
    color: black;
    margin-left: 400px;
    margin-bottom: 23px;
}

.nu-cartao{
    float: left;
    width: 55%;
}

.link4{
    margin-left: 400px;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
}

.cartao4{
    float: left;
    width: 45%;
    margin-top: 200px;
}
/*Fim da Seção 4 */
